# Build files
public
dist
resources
.hugo_build.lock

# Dependency directory
node_modules

# Mac File System File...utterly useless to anyone but me.
.DS_Store

# Jetbrains IDEs
.idea

# Firebase tmp
.firebase