.total-bonus-damage {
  @apply text-nw-orange text-xl font-medium mt-4;
}

.example-damage {
  @apply text-nw-orange font-medium;
}

.checklist {
  @apply flex flex-col space-y-4 justify-start items-start;

  &__group {
    @apply inline-grid justify-start items-start;
    @apply lg:grid-cols-2 lg:gap-8;
  }

  &__h2 {
    @apply text-2xl mb-2 mt-6;
  }

  &__item {
    @apply relative flex justify-start items-center bg-nw-darkgray p-3 pr-4 rounded-md leading-tight transition cursor-pointer;

    &s {
      @apply grid gap-4 justify-start items-start;
    }

    &__name {
      @apply flex justify-start items-center;
    }

    &__name {
      @apply no-underline;
    }

    &__stat {
      @apply flex justify-start items-center font-medium;

      &s {
        @apply grid grid-cols-2 w-28 mr-1;
      }
    }

    &__img {
      @apply w-12 h-12 mr-3;
    }

    &__link {
      @apply absolute w-5 h-5;
      top: -0.5rem;
      right: -0.5rem;
    }

    &__icon {
      @apply inline-block text-nw-orange w-4 transform;

      &--damage {
        @apply scale-50;
      }

      &--duration {
        @apply scale-75 mr-1;
      }
    }

    &.checked {
      .checklist__item__check {
        @apply opacity-100 bg-green-700 text-white shadow;
      }
    }

    &__check {
      @apply absolute h-6 w-6 bg-black text-nw-darkgray rounded-full opacity-25;
      left: -0.75rem;
      padding: 0.375rem;
    }

    &__description {
      @apply italic text-xs mt-1;
    }

    &__input {
      @apply hidden;
    }
  }
}