.header {
  font-family: 'IM Fell DW Pica', serif;
  @apply flex justify-between bg-nw-darkgray h-16;
  @apply md:fixed md:top-0 md:left-0 md:bottom-0 md:flex-col md:justify-start md:w-52 md:min-h-full md:text-right;

  &__title {
    @apply flex p-6 transition text-xl;
    @apply md:flex-col;

    &__game {
      @apply md:text-3xl;
      line-height: 100%;
    }

    &__description {
      @apply ml-1;
      @apply md:text-xl md:ml-0;
      line-height: 100%;
    }

    &:hover, &:focus, &.active {
      @apply text-nw-gold;
    }
  }

  &__toggle {
    @apply w-16 h-16 flex flex-col justify-center items-center;
    @apply md:hidden;
  }

  &__nav {
    @apply grid fixed top-0 right-0 mt-16 text-right bg-nw-darkgray w-full transition-all transform opacity-0 origin-right scale-x-50 pointer-events-none z-50;
    @apply md:relative md:left-auto md:mt-0 md:opacity-100 md:pointer-events-auto md:scale-x-100;

    &.shown {
      @apply scale-x-100 opacity-100 pointer-events-auto;
    }

    &__link {
      @apply py-3 px-4 border-t border-nw-gray text-lg transition text-nw-gold;

      &__arrow {
        @apply inline-block w-0 opacity-0 transition-all;
      }

      &:last-child {
        @apply md:border-b;
      }

      &:hover, &:focus, &.active {
        @apply text-nw-orange;

        .header__nav__link__arrow {
          @apply opacity-100 w-3;
        }
      }
    }
  }
}

.hamburger {
  @apply block w-6 h-px bg-nw-lightgray my-1 rounded;
}