.planner {
  @apply grid gap-3 max-w-6xl w-full;
  @apply sm:grid-cols-2;
  @apply lg:grid-cols-3;
  @apply xl:grid-cols-4;
  @apply 2xl:grid-cols-5;

  &__group {
    @apply bg-nw-darkgray p-3 rounded-md;

    &__header {
      font-family: "Assistant", sans-serif;
      @apply mt-0 text-center font-bold text-xl mb-0;
    }

    &__description {
      font-family: "Assistant", sans-serif;
      @apply text-center text-base font-light mt-0 mb-2;
    }

    &__character {
      @apply relative p-2 rounded leading-none bg-gradient-to-br shadow;

      &s {
        @apply grid gap-2;
      }

      &__drag {
        @apply absolute top-0 right-0 w-3 h-3 mt-3 mr-3 opacity-75;
        cursor: grab;
      }

      &__name-role {
        @apply flex justify-start items-center font-bold mb-1 whitespace-nowrap text-sm;
      }

      &__role {
        @apply w-4 h-4 mr-1;
      }

      &--tank {
        @apply from-gray-800 to-gray-900;
      }

      &--ranged {
        @apply from-indigo-800 to-indigo-900;
      }

      &--melee {
        @apply from-yellow-800 to-yellow-900;
      }

      &--healer {
        @apply from-green-800 to-green-900;
      }

      &__weapon {
        @apply bg-transparent appearance-none text-xs pr-2 py-1 bg-black bg-opacity-25 rounded-sm pl-5 w-full transition cursor-pointer;

        &__container {
          @apply relative grid place-items-center w-full;
        }

        &:focus {
          @apply bg-opacity-75;
        }

        &s {
          @apply grid grid-cols-2 gap-2;
        }

        &__icon {
          @apply w-3 h-3 absolute top-0 left-0 ml-1;
          margin-top: 0.375rem;
        }
      }
    }
  }
}