html, body {
  @apply min-h-full;
}

html {
  font-family: "Assistant", sans-serif;
  @apply bg-nw-gray text-white text-nw-lightgray;
}

*[contenteditable] {
  @apply outline-none rounded border border-transparent;
  &:focus {
    @apply bg-nw-darkgray text-nw-orange border-gray-700;
  }
}

h1, h2, h3 {
  font-family: 'IM Fell DW Pica', serif;
}

h1 {
  @apply text-5xl mb-4;
}

h2 {
  @apply flex justify-start items-center text-3xl mt-8 mb-2;

  img {
    @apply h-6 w-7 mx-2;
  }
}

h3 {
  @apply text-2xl mt-4;
}

p {
  @apply font-light mb-4 max-w-lg leading-normal text-gray-200;

  a {
    @apply text-nw-orange font-medium;

    &:hover, &:focus {
      @apply underline;
    }
  }

  img {
    @apply inline-block w-4 h-4 mr-px align-middle;
  }
}

ul {
  @apply list-disc list-inside mb-4;
}

.number {
  font-family: "Assistant", sans-serif;
  @apply font-medium;
}