<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New World Invasion Guide</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500&family=IM+Fell+DW+Pica&display=swap"
          rel="stylesheet">

    {{ $scss := resources.Get "scss/main.scss" | resources.ToCSS }}
    {{ $styles := $scss | postCSS }}

    {{ if .Site.IsServer }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
        {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ end }}
</head>
<body>
{{ partial "header" . }}
<main>{{ block "main" . }}{{ end }}</main>
{{ partial "footer" . }}
</body>
</html>