<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{ if ne .Page.RelPermalink "/" }}
        <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
    {{ else }}
        <title>{{ .Site.Title }}</title>
    {{ end }}
    <meta name="description" content="{{ .Page.Description }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;700&family=IM+Fell+DW+Pica&display=swap"
          rel="stylesheet">

    {{ $css := resources.Get "scss/main.scss" | resources.ToCSS | postCSS }}
    {{ if eq .Site.IsServer false }}
        {{ $css := $css | fingerprint | minify | resources.PostProcess }}
    {{ end }}
    <link rel="stylesheet" href="{{ $css.Permalink }}"/>
</head>
<body>
{{ partial "header" . }}
<main class="main">{{ block "main" . }}{{ end }}</main>
{{ partial "footer" . }}
<script>
    document.querySelectorAll('h2').forEach(h => {
        h.innerHTML = h.innerHTML.replace(/(\d)/g, '<span class="number">$1</span>')
    })
</script>
</body>
</html>