{{ define "main" }}
    {{ .Content }}
    {{/* TODO: Specify Enemies to target with each weapon. */}}
    {{ $fortifications := slice
    (dict "name" "Ballista"
    "description" "Medium rate of fire, very high damage per shot, and is most effective against structures and large, slower-moving targets."
    "image" "ballista.jpg"
    "damageType" "Siege (Physical)"
    "crit" "1.3x"
    "headshot" "1.3x"
    )
    (dict "name" "Explosive Cannon"
    "description" "The Explosive Cannon, also known as Explosive Turret, fires an explosive shot that that disrupts and knocks enemies back. It’s most effective against groups of infantry and provides area denial. However, its low rate of fire makes it largely ineffective against fast-moving or targets with larger health pools."
    "image" "cannon.jpg"
    "damageType" "Impact (Physical)"
    "crit" "Cannot Crit"
    "headshot" "Cannot Headshot"
    )
    (dict "name" "Repeater Turret"
    "description" "High rate-of-fire, low damage per shot, and most effective against smaller, quicker targets."
    "image" "repeater.jpg"
    "damageType" "Thrust (Physical)"
    "crit" "1.15x"
    "headshot" "1.15x"
    )
    (dict "name" "Fire Dropper"
    "description" "The Fire Dropper pours burning, molten liquid down on enemies below. It does high damage over time, making it most effective against bosses attacking the gate."
    "image" "firedropper.jpg"
    "damageType" "Fire (Elemental)"
    "crit" "Cannot Crit"
    "headshot" "Cannot Headshot"
    "confirmed" false
    )
    (dict "name" "Horn of Resilience"
    "description" "The Horn of Resilience provides a temporary healing and defensive buff to all allies in the area. It has a lengthy cool-down but can turn the tide of battle when used at the right moment."
    "image" "horn.jpg"
    "damageType" "N/A"
    "crit" "Cannot Crit"
    "headshot" "Cannot Headshot"
    )
    }}
    {{ $damage := resources.Get "img/damageType.svg" | minify | fingerprint }}
    {{ $crit := resources.Get "img/crit.svg" | minify | fingerprint }}
    {{ $headshot := resources.Get "img/headshot.svg" | minify | fingerprint }}
    {{ $notconfirmed := resources.Get "img/notconfirmed.svg" | minify | fingerprint }}
    <div class="fortifications">
        {{ range $fortifications }}
            {{ $image := resources.Get (print "img/fortifications/" .image) | fingerprint }}
            <div class="fortification">
                <img src="{{ $image.Permalink }}" alt="New World {{ .name }}" class="fortification__img"/>

                <div>
                    <div class="fortification__container">
                        <h2 class="fortification__name">{{ .name }}</h2>
                        <p>{{ .description }}</p>
                        <div class="fortification__stat">
                <span class="fortification__icon fortification__icon--damage" title="Damage Type"
                      aria-hidden="true">
                    {{ $damage.Content | safeHTML }}
                </span>
                            {{ if eq .confirmed false }}
                                <span class="fortification__not-confirmed fortification__icon"
                                      title="Damage type not officially confirmed.">
                                    {{ $notconfirmed.Content | safeHTML }}
                                </span>
                            {{ end }}
                            <span>{{ .damageType }}</span>
                        </div>
                        <div class="fortification__stat">
                <span class="fortification__icon fortification__icon--crit" title="Critical Multiplier"
                      aria-hidden="true">
                    {{ $crit.Content | safeHTML }}
                </span>
                            <span>{{ .crit }}</span>
                        </div>
                        <div class="fortification__stat">
                <span class="fortification__icon fortification__icon--headshot" title="Headshot Multiplier"
                      aria-hidden="true">
                    {{ $headshot.Content | safeHTML }}
                </span>
                            <span>{{ .headshot }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}