{{ define "main" }}
    {{ .Content }}

    <div class="planner"></div>
    <script>
        const TOTAL_GROUPS = 10
        const CHARACTERS_PER_GROUP = 5
        const PLANNER = document.querySelector('.planner')
        const ROLES = ["Melee DPS", "Ranged DPS", "Mixed DPS", "Tank", "Healer"].sort()
        const WEAPON_TYPES = ["Sword & Shield", 'Bow', 'Great Axe', 'War Hammer', 'Musket', 'Spear', 'Hatchet', 'Rapier', 'Life Staff', 'Fire Staff', 'Ice Gauntlet', 'Void Gauntlet'].sort()

        class Character {
            constructor(role, name, primaryWeapon, secondaryWeapon) {
                this.role = ROLES.find(r => r === role)
                this.name = name
                this.primaryWeapon = WEAPON_TYPES.find(w => w === primaryWeapon)
                this.secondaryWeapon = WEAPON_TYPES.find(w => w === secondaryWeapon)
            }
        }

        function getRandomRole() {
            return ROLES[Math.floor(Math.random() * ROLES.length)]
        }

        function getRandomIndex(array) {
            return Math.floor(Math.random() * array.length)
        }

        function getRandomWeaponType(role, primaryWeapon) {
            const tankWeapons = ['Sword & Shield']
            const meleeWeapons = ['Great Axe', 'War Hammer', 'Spear', 'Hatchet', 'Rapier']
            const rangedWeapons = ['Bow', 'Musket', 'Fire Staff', 'Ice Gauntlet', 'Void Gauntlet', 'Hatchet']
            const healerWeapons = ['Life Staff']
            if (primaryWeapon) {
                switch (role) {
                    case 'Mixed DPS':
                        if (meleeWeapons.includes(primaryWeapon)) {
                            return rangedWeapons[getRandomIndex(rangedWeapons)]
                        } else {
                            return meleeWeapons[getRandomIndex(meleeWeapons)]
                        }
                    case 'Tank':
                        return meleeWeapons[getRandomIndex(meleeWeapons)]
                    case 'Healer':
                        return 'Void Gauntlet'
                    default:
                        return rangedWeapons[getRandomIndex(rangedWeapons)]
                }
            }

            switch (role) {
                case 'Tank':
                    return tankWeapons[getRandomIndex(tankWeapons)]
                case 'Melee DPS':
                    return meleeWeapons[getRandomIndex(meleeWeapons)]
                case 'Ranged DPS':
                    return rangedWeapons[getRandomIndex(rangedWeapons)]
                case 'Mixed DPS':
                    return meleeWeapons[getRandomIndex(meleeWeapons)]
                case 'Healer':
                    return healerWeapons[getRandomIndex(healerWeapons)]
            }
        }

        for (let i = 0; i < TOTAL_GROUPS; i++) {
            const groupContainer = document.createElement('div')
            groupContainer.classList.add('planner__group')
            // Append the group container.
            PLANNER.appendChild(groupContainer)

            const groupHeader = document.createElement('h2')
            groupHeader.innerText = 'Group ' + (i + 1).toString()
            groupHeader.classList.add('planner__group__header')
            // Append the group header.
            groupContainer.appendChild(groupHeader)

            const groupCharacterContainer = document.createElement('div')
            groupCharacterContainer.classList.add('planner__group__characters')
            // Append the character container.
            groupContainer.appendChild(groupCharacterContainer)

            for (let c = 0; c < CHARACTERS_PER_GROUP; c++) {
                const role = getRandomRole()
                const primaryWeapon = getRandomWeaponType(role)
                const secondaryWeapon = getRandomWeaponType(role, primaryWeapon)
                const character = new Character(role, 'Example Character', primaryWeapon, secondaryWeapon)

                const characterContainer = document.createElement('div')
                characterContainer.classList.add('planner__group__character')

                const characterRole = document.createElement('img')
                characterRole.classList.add('planner__group__character__role')

                switch (character.role) {
                    case 'Tank':
                        characterContainer.classList.add('planner__group__character--tank')
                        characterRole.src = 'https://cdn.nwdb.info/db/images/live/v2/icons/abilities/swordability6.png'
                        characterRole.alt = 'Tank Icon'
                        characterRole.classList.add('planner__group__character__role--tank')
                        break
                    case 'Melee DPS':
                        characterContainer.classList.add('planner__group__character--melee')
                        characterRole.src = 'https://cdn.nwdb.info/db/images/live/v2/icons/abilities/greataxe_ability4_judgementsreach.png'
                        characterRole.alt = 'Melee DPS Icon'
                        characterRole.classList.add('planner__group__character__role--melee')
                        break
                    case 'Healer':
                        characterContainer.classList.add('planner__group__character--healer')
                        characterRole.src = 'https://cdn.nwdb.info/db/images/live/v2/icons/abilities/lifestaffability3.png'
                        characterRole.alt = 'Healer Icon'
                        characterRole.classList.add('planner__group__character__role--healer')
                        break
                    default:
                        characterContainer.classList.add('planner__group__character--ranged')
                        characterRole.src = 'https://cdn.nwdb.info/db/images/live/v2/icons/perks/engineermastery1.png'
                        characterRole.alt = 'Ranged DPS Icon'
                        characterRole.classList.add('planner__group__character__role--ranged')
                }

                const characterName = document.createElement('div')
                characterName.innerText = character.name.toString()
                characterName.classList.add('planner__group__character__name')

                const characterPrimaryWeapon = document.createElement('div')
                characterPrimaryWeapon.innerText = character.primaryWeapon.toString()
                characterPrimaryWeapon.classList.add('planner__group__character__weapon')

                const characterSecondaryWeapon = document.createElement('div')
                characterSecondaryWeapon.innerText = character.secondaryWeapon.toString()
                characterSecondaryWeapon.classList.add('planner__group__character__weapon')

                // Append character information to the character container.
                characterContainer.appendChild(characterRole)
                characterContainer.appendChild(characterName)
                characterContainer.appendChild(characterPrimaryWeapon)
                characterContainer.appendChild(characterSecondaryWeapon)

                // Append this character to the character container.
                groupCharacterContainer.appendChild(characterContainer)
            }
        }
    </script>
{{ end }}