{{ $page := . }}

{{
$links := slice
(dict "location" "strategies" "text" "Strategies")
(dict "location" "roles" "text" "Roles")
(dict "location" "fortifications" "text" "Fortifications")
(dict "location" "enemies" "text" "Enemies")
(dict "location" "checklist" "text" "Checklist")
(dict "location" "planner" "text" "Planner")
}}

<header class="header">
    <a href="/" class="header__title">
        <div class="header__title__game">New World</div>
        <div class="header__title__description">Invasion Guide</div>
    </a>
    <button class="header__toggle" title="Toggle Mobile Navigation">
        <span class="hamburger"></span>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
    </button>
    <nav class="header__nav">
        {{ range $links }}
            <a href="/{{ .location }}"
               class="header__nav__link {{ if eq .location (trim $page.RelPermalink "/") }}active{{ end }}">
                <span>{{ .text }}</span>
                <span class="header__nav__link__arrow">🢒</span>
            </a>
        {{ end }}
    </nav>
</header>