{{ $items := slice
(dict
"name" "Infused Corrupted Coating"
"description" "Increases weapon damage by 7% for 40 minutes."
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt5.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt5"
)
(dict
"name" "Strong Corrupted Coating"
"description" "Increases weapon damage by 6% for 35 minutes."
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt4.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt4"
)
(dict
"name" "Common Corrupted Coating"
"description" "Increases weapon damage by 5% for 30 minutes."
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt3.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt3"
)
(dict
"name" "Weak Corrupted Coating"
"description" "Increases weapon damage by 4% for 25 minutes."
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt2.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt2"
)
}}

{{ partial "checklist/container" (dict "title" "Corrupted Coating" "items" $items) }}