{{ $items := slice
(dict
"name" "Infused Corrupted Coating"
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt5.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt5"
"damage" "15%"
"duration" "40m"
)
(dict
"name" "Powerful Corrupted Coating"
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt4.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt4"
"damage" "13%"
"duration" "35m"
)
(dict
"name" "Strong Corrupted Coating"
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt3.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt3"
"damage" "11%"
"duration" "30m"
)
(dict
"name" "Common Corrupted Coating"
"image" "https://cdn.nwdb.info/db/images/live/v2/icons/items/consumable/coatingcorruptedt2.png"
"link" "https://nwdb.info/db/item/coatingcorruptedt2"
"damage" "9%"
"duration" "25m"
)
}}

{{ partial "checklist/container" (dict "title" "Corrupted Coating" "items" $items) }}