{{ $title := .title }}
<div class="checklist__container">
    <h2 class="checklist__h2">{{ $title }}</h2>
    <div class="checklist__items">
        {{ $damage := resources.Get "img/crit.svg" | minify | fingerprint }}
        {{ $duration := resources.Get "img/duration.svg" | minify | fingerprint }}
        {{ $check := resources.Get "img/check.svg" | minify | fingerprint }}
        {{ range .items }}
            {{ $id := (print .name $title) | urlize }}
            <label for="{{ $id }}" class="checklist__item" title="{{ .name }} Checkbox">
                <span class="checklist__item__check" aria-hidden="true">
                    {{ $check.Content | safeHTML }}
                </span>
                <input type="checkbox" id="{{ $id }}" class="checklist__item__input"/>
                <img src="{{ .image }}" alt="{{ .name }} Icon" class="checklist__item__img"/>
                <span class="checklist__item__container">
                    <a class="checklist__item__info" href="{{ .link }}" target="_blank" rel="noopener">
                        <span>{{ .name }}</span>
                    </a>
                    <span class="checklist__item__stats">
                        <span class="checklist__item__stat">
                        <span class="checklist__item__icon checklist__item__icon--damage" title="Bonus Damage"
                              aria-hidden="true">
                            {{ $damage.Content | safeHTML }}
                        </span>
                            <span class="checklist__item__damage-value">{{ .damage }}</span>
                        </span>
                        <span class="checklist__item__stat">
                        <span class="checklist__item__icon checklist__item__icon--duration" title="Item Duration"
                              aria-hidden="true">
                            {{ $duration.Content | safeHTML }}
                        </span>
                            <span>{{ .duration }}</span>
                        </span>
                    </span>
                </span>
            </label>
        {{ end}}
    </div>
</div>